


img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
    z-index: 0;

}


body h1, body p {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: white;
    
/*    border: none;*/
}

#center {
    position: relative;
    font-family: "Roboto", black;
    text-align: center;
    width: 750px; 
    letter-spacing: 1px;
    margin: 250px auto auto auto;   
    resize: none;
}

#center h2 {
    font-size: 50px;
    color: white;
}

#center p {
    font-size: 25px;
}

#center button {
    position: relative;
    border-radius: 40px;
    margin: 40px 10px 10px 10px;
    font-size: 32px;
    padding: 5px 25px 5px 25px;
    border:none;
    background: none;
    color:white;
}

#center button:hover{
    text-shadow: 3px 2px 10px #24282B;
}

#center #menu {
    background-color: #0865AA;
}

#center #menu:hover{
    box-shadow: 3px 2px 10px #24282B;
}

#banner {
    position: fixed;
    top:0px;
    font-size: 12px;
    background-color:#0865AA;
    color:white;
    padding: 5px 5px 5px 5px;
    width: 150px;
    height: 135px;
    z-index: 1000000;
}

#banner:hover{
    box-shadow: 3px 2px 10px #24282B;
}

#banner h1 {
    position: relative;
    font-family: "Orient Express", sans-serif; 
    font-size: 42px;
    line-height: 60px;
    letter-spacing: 4px;
    float: center;
    margin: 5px 15px 15px 5px;
    color: white;
   
}

body{
    background: url("black.png");
    background-size: cover;
    
}
