
#call{
    float:right;
    margin: 10px;
    margin-top: 2-px;
    color:white;
    position: fixed;
    right: 0px;
    top: 8px;
    font-size: 150%;
    background-color:#0865AA;
    border-radius: 40px;
    border:none;
    padding: 5px 20px;
    font-family: "Quicksand";
    box-shadow: 3px 2px 10px #24282B;
    z-index: 100000000000000;
    
}
/*---------------Background image---------------*/
img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
    z-index: 0;

}


/*------------------Logo Banner---------------------*/
#banner {
    position: relative;
    top:0px;
    font-size: 12px;
    background-color:#0865AA;
    color:white;
    padding: 5px 5px 5px 5px;
    width: 130px;
    height: 120px;
    z-index: 1000000;
}

#banner:hover{
    box-shadow: 3px 2px 10px #24282B;
}

#banner h1 {
    position: relative;
    font-family: "Orient Express", sans-serif; 
    font-size: 36px;
    line-height: 55px;
    letter-spacing: 4px;
    float: center;
    margin: 5px 15px 15px 5px;
    color: white;
}


/*------------------Body Text---------------------*/
body h1, body p {
    position: relative;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    color: white;
}

/*------------Body Dark Overlay-------------------*/
body{
    background: url("images/black.png");
    background-size: cover;
    
}

/*------------Central Console-------------------*/
#center {
    position: relative;
    font-family: "Quicksand";
    text-align: center;
    width: 85%; 
    height: 30%;
    letter-spacing: 1px;
    margin: 10% auto auto auto;   
}

#center h2 {
    font-size: 250%;
    color: white;
    resize: both;
}

#center p {
    font-size: 25px;
}

#center button {                 /* BUTTONS */
    position: relative;
    border-radius: 40px;
    margin: 40px 10px 10px 10px;
    font-size: 32px;
    padding: 5px 25px 5px 25px;
    border:none;
    background: none;
    color:white;
    font-weight: 400;
}

#center button:hover{
    text-shadow: 3px 2px 10px #24282B;
}

#center #menuButton {
    background-color: #0865AA;
}

#center #menu:hover{
    box-shadow: 3px 2px 10px #24282B;
}

#home {
    font-family: "Quicksand";
    color: white;
    background-color: #0865AA;
    border: none;
    position: fixed;
    top: 0;
    left: 42%;
    z-index: 100000000000;
    margin-top: 10px;
    text-align: center;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    box-shadow: 3px 2px 10px #24282B;
}

#home:hover{
    background-color: #0a4a7a;
}

#number{
    margin-top: 30px;
    margin-left: -3%
}

/*----------------Hours-------------------*/

#hours {
    background-color: #EFEFEF;
    color: #0865AA;
    position: relative;
    padding-bottom: 65px;
    height: 1200px;
    margin-top: 15%;
}

#hours h2{
    font-size: 72px;
    padding: 5px 5px 30px 40px;
    font-family: "Quicksand";
    font-weight: 700;  
}


#hours p {
    color: #0865AA;
    padding-left: 20%;
    padding-top: 5%;
    margin-bottom: 5%;
    font-size: 250%;
    resize: none;
}

#barrier {
    background-color: #EFEFEF;
    opacity: 1;
    height: 15px;
    overflow: hidden;
/*    position: -webkit-sticky;*/
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

#map {
    margin-top: 30px;
    border: none;
    border-radius: 40px;
    margin-bottom: 10px;
    
}



/*----------------Menu-------------------*/
#barrier2 {
    background-color: #0865AA;
    opacity: 0.8;
    height: 20px;
}

#barrier3 {
    background-color: #EFEFEF;
    height: 30px;
}

#menu {
    background-color: #0865AA;
    color: #0865AA;
    position: relative;
    padding-bottom: 75px;
    height: auto;

}

#menu h2{
    font-size: 72px;
    padding: 5px 5px 20px 40px;
    font-family: "Quicksand";
    font-weight: 700;  
    color:white;
}

#calzones, #salads {
    margin-top: 0px;
    margin-left: 15px;
    position: relative;
    opacity: 1;  
}

#wraps, #starters {
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    opacity: 1; 
    
}

/*----------------MenuBar-------------------*/

#menuBar {
    margin-left: 30px;
}
#menuBar button {
    border-radius: 40px;
    font-size: 24px;
    margin: 10px;
    width: 120px;
    height: 40px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    border:none;
}

#menuBar button:hover {
    box-shadow: 3px 2px 10px #24282B;
}

#calzonesButton {
    background-color: #004a81;
    color: white;
}

/*----------------Reviews-------------------*/

#reviews {
    background-color: #EFEFEF;
    color: #0865AA;
    position: relative;
    padding-bottom: 75px;

}

#reviews h2{
    font-size: 72px;
    padding: 5px 5px 30px 40px;
    font-family: "Quicksand";
    font-weight: 700;  
}

#reviews p{
    color:#0865AA;
    
    margin-left: 35%
}

.yelp-review {
    padding-bottom: 5px;
    margin: auto
}


/*----------------UnderBar-------------------*/

#underBar {
    background-color: #0865AA;
    position: fixed;
    opacity: 0.6;
    border: none;
    bottom: 0;
    width: 100%;
    height: 5%;
    z-index: 100;
}






